<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<title>Sample Chat App</title>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	href="../../css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand"
					href="https://github.com/ultraq/thymeleaf-layout-dialect">
					Firebase - Sample chat app</a>
			</div>
		</div>
		<h1 layout:fragment="header">Layout</h1>
		<div class="nav">
					<input type="button" value="Refresh Messages" onclick="reloadPage()"/>
		</div>
		<div layout:fragment="content">Fake content</div>
		<div id='messagesDiv' style="position: absolute;bottom: 0 ;padding: 15px;
    background-color: aliceblue;">
    		<h3>Chat (hit enter to finish message)</h3>
			<input type='text' id='nameInput' placeholder='Name' />
			<br/>
			<input type='text' id='messageInput' placeholder='Message' />
		</div>
	</div>
    <script>
      var myDataRef = new Firebase('https://brilliant-fire-2824.firebaseio.com/');
      $('#messageInput').keypress(function (e) {
        if (e.keyCode == 13) {
          var name = $('#nameInput').val();
          var text = $('#messageInput').val();
          myDataRef.push({name: name, text: text});
          $('#messageInput').val('');
        }
      });
      /* myDataRef.on('child_added', function(snapshot) {
        var message = snapshot.val();
        displayChatMessage(message.name, message.text);
      }); */
      function displayChatMessage(name, text) {
        $('<div/>').text(text).prepend($('<em/>').text(name+': ')).appendTo($('#messagesDiv'));
        $('#messagesDiv')[0].scrollTop = $('#messagesDiv')[0].scrollHeight;
      };
      function reloadPage(){
    	location.reload();
      }
    </script>
</body>
</html>
